* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: lightblue;
  overflow-y:scroll;
  overflow-x:hidden;
}

#map {
  height: 100vh;
  width: 100vw;
}

.front_page_text {
  text-align: center;
}



.image-container {
  position: relative;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide anything outside the container */
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image */
  width: 100%; /* Make the width of the image fill the container */
  height: auto; /* Maintain the aspect ratio */
}

/* Adjust the image for smaller screens (like phones) */
@media (max-width: 768px) {
  .image-container img {
    width: 100vw; /* Ensure it fills the width of the viewport */
    height: 100vh; /* Ensure it fills the height of the viewport */
    object-fit: cover; /* Crop the image if necessary, to fill both dimensions */
  }
}


